language: php

php:
  - 5.3
  - 5.4
  - 5.5

matrix:
  allow_failures:
    - php: 5.5

env:
  - SYMFONY_VERSION=2.1.*
  - SYMFONY_VERSION=2.2.*

before_script:
  - sudo apt-get install geoip-bin
  - sudo apt-get install geoip-database
  - sudo apt-get install libgeoip-dev
  - ls -l /usr/share/GeoIP
  - wget https://github.com/downloads/lunetics/TimezoneBundle/GeoLiteCity.dat.gz
  - gunzip GeoLiteCity.dat.gz
  - sudo mkdir -p /usr/share/GeoIP
  - sudo mv GeoLiteCity.dat /usr/share/GeoIP/GeoIPCity.dat
  - pecl install geoip
  - echo "extension=geoip.so" >> `php --ini | grep "Loaded Configuration" | sed -e "s|.*:\s*||"`
  - composer require symfony/framework-bundle:${SYMFONY_VERSION} --no-update
  - composer install --dev --prefer-source

script: phpunit --coverage-text

notifications:
  email: mb@lunetics.com
