language: php

php:
  - 5.3
  - 5.4
env:
  - SYMFONY_VERSION=2.1.*
  - SYMFONY_VERSION=dev-master

before_script:
  - sudo apt-get install geoip-bin
  - sudo apt-get install geoip-database
  - ls -l /usr/share/GeoIP
  - echo "geoip.custom_directory=/usr/share/GeoIP/" >> `php --ini | grep "Loaded Configuration" | sed -e "s|.*:\s*||"`
  #- wget http://www.maxmind.com/download/geoip/database/GeoLiteCity.dat.gz
  #- gunzip GeoLiteCity.dat.gz
  #- sudo mkdir -p /usr/share/GeoIP
  #- sudo mv GeoLiteCity.dat /usr/share/GeoIP/GeoIPCity.dat
  - pecl install geoip
  - echo "extension=geoip.so" >> `php --ini | grep "Loaded Configuration" | sed -e "s|.*:\s*||"`
  - composer require symfony/framework-bundle:${SYMFONY_VERSION}
  - composer install --dev

script: phpunit --coverage-text

notifications:
  email: mb@lunetics.com
