language: php

php:
  - 5.3
  - 5.4
env:
  - SYMFONY_VERSION=2.1.*
  - SYMFONY_VERSION=dev-master

before_script:
  - apt-get install geoip-bin
  - pecl install geoip
  - echo "extension=geoip.so" >> `php --ini | grep "Loaded Configuration" | sed -e "s|.*:\s*||"`
  - composer require symfony/framework-bundle:${SYMFONY_VERSION}
  - composer install --dev

script: phpunit --coverage-text

notifications:
  email: mb@lunetics.com
